#redirection-settings-wrapper .clear {
    clear: both;
}

.rule-wrapper .form-item .form-item {
    float:left;
    padding: 0 10px;
}
#redirection-settings-wrapper .rule-wrapper {
    clear: both;
}