#redirection-settings-wrapper .clear {
    clear: both;
}

#redirection-settings-wrapper .rule-field {
    float:left;
    padding: 0 10px;
}
#redirection-settings-wrapper .rule-wrapper {
    clear: both;
}